<section class="login">
   
        <div class="min-h-screen flex items-center justify-center bg-gray-50 py-8 px-4 sm:px-6 lg:px-8">
            <div class="max-w-md w-full">
              <form class="mt-4" action="/login" method="POST">
                <input type="hidden" name="remember" value="true">
                <div class="rounded-md shadow-sm mb-4">
                  <% if(messages.error) { %>
                    <span class="text-red-500 text-sm"><%= messages.error %></span>
                    <% } %>
                  <div class="mb-4">
                      <label class="text-lg mb-2">Email</label>
                    <input aria-label="Email address" name="email" type="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Email address">
                  </div>
                  <div class="mb-4">
                    <label class="text-lg mb-2" >Password</label>
                    <input aria-label="Password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Password">
                  </div>
                </div>
          
                <div class="mt-6 flex items-center justify-between">
                   <button type="submit" class="btn-primary rounded-full font-bold text-white mt-6 px-6 py-2">
                      Log In
                    </button>
          
                  <div class="text-sm leading-5">
                    <a href="/register" class="font-bold text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                      Don't have Account?
                    </a>
                  </div>
                </div>
          
              </form>
            </div>
          </div>
    
   
</section>