@import "./variables.scss";
@import '~noty/src/noty.scss';//import noty scss
@import '~noty/src/themes/mint.scss';//for notyfy to use we add noty module and its theme


body {
font-family: 'Lato',sans-serif;
color:$dark;
-webkit-font-smoothing:antialiased;
}

nav li:last-child a{
    background:$primary; 
    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition : $smooth;
    &:hover {
        color:$primary;
    }
}

section.main {
    background:$secondary;
}

.small-background{
    background: $secondary;
}

.add-to-cart{
    border:2px solid $primary;
    color:$primary;
    transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color:$pure;
    }
    &:focus{
        outline: none;
    }
}
.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}


section.cart{
    background:$secondary;

    .amount{
        color:$primary;
    }
}

section.login{
    background: $secondary;
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
          }
    }
    
}

section.register{
    background: $secondary;
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
          }
    }
    
}

//noty scss
.noty_theme__mint {
    border-radius : 50px!important;
    padding-left : 8px!important;
}